{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-absolute-path": 0,
    "import/extensions": 0,
    "quotes": [2, "double"],
    "linebreak-style": "off",
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-property-newline": "error"
  }
}
